
<div>
  <h1>Welcome <%=@user.first_name%>!</h1>
  <%=image_tag("default-user.png", alt: "default_img")%>
  <p>Current city: <%=@user.current_city%></p>
  <p>Account created: <%=@user.created_at%></p>

<%=link_to "Edit Profile", edit_user_path%>

</div>

<div>
  <h2>All My Posts:</h2>
  <% @posts.reverse.each do |post| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5><%=link_to post.review_title, user_post_path(@user.id, post.id), class:"card-title" %></h5>
            <p class="card-text"><%=post.review%></p>
            <%= link_to "Edit", edit_user_post_path(@user, post.id), class:"btn btn-primary" %>
            <%= button_to "Delete", delete_post_path(@user.id, post.id), method: :delete, class:"btn btn-danger", data: {confirm: 'Are you sure you want to Delete?'} %>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>



