<div class="row mt-5">

  <div class="col-3 offset-2">
    <h1>Welcome <%=@user.first_name%>!</h1>
    <%=image_tag(@user.user_photo, alt: "default_img")%>
    <h5 class="date_joined">Date Joined: <%=@user.created_at.to_date%></h5>
    <h5>Current City: <%=@user.current_city%></h5>

    <%=link_to "Edit Profile", edit_user_path, class:"btn btn-secondary"%>
  </div>

  <div class="col-6">
    <section>
      <h2>All My Posts:</h2>
      <% @posts.reverse.each do |post| %>
        <div class="row">
            <div class="card users">
              <div class="card-body">
                <h5><%=link_to post.review_title, user_post_path(@user.id, post.id), class:"card-title" %></h5>
                <p class="card-text"><%=post.review%></p>
                <!-- Button trigger modal -->
                <%= link_to "Edit", edit_user_post_path(@user, post.id), class:"btn btn-primary" %>
                <%= button_to "Delete", delete_post_path(@user.id, post.id), method: :delete, class:"btn btn-danger", data: {confirm: 'Are you sure you want to Delete?'} %>

              </div>
            </div>
        </div>
      <% end %>
    </section>
  <div>

</div>
