
<div>
  <h1>Welcome <%=@user.first_name%>!</h1>
  <p>Current city: <%=@user.current_city%></p>
  <p>Account created: <%=@user.created_at%></p>

<%=link_to "Edit Profile", edit_user_path%>

</div>

<div>
  <h2>All My Posts:</h2>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5><%=link_to post.review_title, user_post_path(@user.id, post.id), class:"card-title" %></h5>
            <p class="card-text"><%=post.review%></p>
          
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>