<h1>
	<%=@post.each do |post|%>
	 <% city = post.city_id%>
	 <%=city.city_name%>
	<%end%>
</h1>

<h1>New Post</h1>
<%=form_for @post do |f|%>
    <div>
      <%= f.text_field :review_title, placeholder: "Name Your Review" %>
    </div>
    <div>
      <%= f.text_field :review, placeholder: "Write your review..." %>
    </div>
    <%= f.submit "Submit Your Post" %>
  <% end %>
