<h1>Cities#show (name of city here)</h1>

<img src="<%=@city.photo%>">
<h1><%=@city.city_name%></h1>
<%= link_to "All Cities", cities_path%>


<h1>New Post</h1>
<%= form_for ([@city, @post]) do |f|%>
    <div>
      <%= f.text_field :review_title, placeholder: "Name Your Review" %>
    </div>
    <div>
      <%= f.text_field :review, placeholder: "Write your review..." %>
    </div>
    <%= f.submit "Submit Your Post" %>
  <% end %>


  <h2>All My Posts:</h2>
  <% @reviews.each do |post| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5><%=link_to post.review_title, user_post_path(@user.id, post.id), class:"card-title" %></h5>
            <p class="card-text"><%=post.review%></p>  
            <p>Posted by: <%=@user.first_name%> <%=@user.last_name%></p> 
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>