<h1><%=@city.city_name%></h1>

<img src="<%=@city.photo%>">

<%= link_to "All Cities", cities_path%>


  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Create a New Post
</button>

<!-- Modal -->
<%= form_for ([@city, @post]) do |f|%>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <%= f.text_field :review_title, placeholder: "Review Title" %>
        </div>
        <div>
          <%= f.text_area :review, placeholder: "Write your review..." %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Submit Your Post", class:"btn btn-secondary"%>
      </div>
    </div>
  </div>
</div>
 <% end %>


  <h2>All My Posts:</h2>
  <% @reviews.reverse.each do |post| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5><%=link_to post.review_title, user_post_path(@user.id, post.id), class:"card-title" %></h5>
            <p class="card-text"><%=post.review%></p>  
            <p>Posted by: <%=@user.first_name%> <%=@user.last_name%></p> 
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>