<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
<!-- Image and text -->
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img class="d-inline-block align-top" ><%=image_tag("vagabond-logo.jpg", width:"80", height:"50")%> 
  </a>
  <a>       <% if current_user %>
              <a><%= link_to "Profile", user_path(current_user) %></a>
              <a><%= link_to "Log Out", logout_path %></a>
            <% else %>
              <a><%= link_to "Create Account", new_user_path %></a>
              <a><%= link_to "Log In", login_path %></a>
            <% end %></a>
</nav>

 </header>
       
   
    <% flash.each do |name, msg| %>
      <p>
        <small> <%= name.capitalize %>: <%= msg %> </small>
      </p>
    <% end %>


    <%= yield %>
  </body>
</html>
